/* Inicio */
/* Header */
body{
    background-color: #CBC6C5;
}
.img-logo{
    max-width: 100px;
}
.color-nav{
    background-color: #8A9090;
}
.color-ul{
    color: whitesmoke;
}
/* Main */

main{
    padding: 0px 10px 0px 10px;
}

h1{
    text-align: center;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 60px;
}

.grid-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    column-gap: 20px;
    row-gap: 20px;
}
img{
    width: 100%;
    height: 100%;
}

/* Footer */
footer{
    text-align: center;
    font-style: oblique;
    font-family: 'PT Sans Narrow', sans-serif;
    padding-top: 50px;
    
}

/* MQ Para celular */
@media screen and (max-width: 650px){
    .grid-img{
        grid-template-columns: repeat(1, 1fr) ;
        grid-template-rows: repeat(1, 1fr) ;
        
    }
    h1{
        font-size: 40px;
    }
}

/* Productos */

.img-productos {
    max-width: 300px;
    max-height: 300px;
}

/* Nosotros */

.img-nosotros {
    max-width: 300px;
}

.video-muestra{
    text-align: center;
}
 /* Contacto */

 .img-contacto{
    max-width: 50px;
    display: block;
 }